.accessory-item-container {
  display: flex;
  flex-direction: column;
	width: 239px;
  height: 327px;
  
  font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}

.accessory-price-cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.accessory-item-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 209px;
}

.accessory-item-cart {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}